
@{
    ViewBag.Title = "Unauthenticateview";
}



<div class="row" style="margin-top:100px">
    <div class="col-md-6">
        <img src="~/pictures/signalr-logopng.png" width="500" height="300" />

    </div>
    <div class="col-md-6">
        <div style="padding-left:50px;">

            <h2>Introduction</h2>
            <p>
                In this articales I want to show how to chatting in asp.net using SignalR.
                I show how to do a public and private chat. The chatting data will store in the database.
                We see our previous chat by scrolling as like as facebook.
            </p>
        </div>
    </div>
</div>

<div class="col-md-6">
    <h2>LIVE CHAT FOR YOUR WEBSITE</h2>
    <p>
        If you're looking for a live chat option, but just aren't ready for a paid edition then My Live Chat Free version is the perfect way to go.

        With inserting a simple piece of HTML code, a floating chat button that doesn't interfere with your website design, and key features to help you do chat right, you'll be chatting to your website visitors without any cost.
    </p>

</div>


<div class="col-md-6">
    <h2> People Prefer to Message</h2>
    <p>
       

        Your customers have spoken loud and clear,
         Messaging is their communications channel of choice - and you need to be where your customers are.
    </p>

</div>




